
<div class="sidebar">
  <ul class="menu-list">
    <li>
      <a routerLink="customer" class="menu-link">
        <mat-icon class="menu-icon">person</mat-icon>
        <span class="menu-text">Customer</span>
      </a>
    </li>
    <li>
      <a routerLink="list" class="menu-link">
        <mat-icon class="menu-icon">store</mat-icon>
        <span class="menu-text">Store</span>
      </a>
    </li>
    <li>
      <a routerLink="/product" class="menu-link">
        <mat-icon class="menu-icon">inventory</mat-icon>
        <span class="menu-text">Product</span>
      </a>
    </li>
    <li>
      <a routerLink="/transaction" class="menu-link">
        <mat-icon class="menu-icon">swap_horiz</mat-icon>
        <span class="menu-text">Transaction</span>
      </a>
    </li>
  </ul>
</div>
